<div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Listado de elementos</h1>

    <app-pelicula-listado [peliculas]="peliculas" [tipo]="tipo" (seleccionePelicula)="seleccionarPelicula($event);">

    </app-pelicula-listado>

    <div *ngIf="tipo == 'Tabla' ;then tabla"></div>
    <ng-template #tabla>
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>Nombre</th>
                    <th>Genero</th>
                    <th>Fecha de estreno</th>
                    <th>Cantidad de publico</th>
                    <th>Imagen</th>
                    <th>Seleccionar</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pelicula of peliculas">
                    <td>{{pelicula.nombre}}</td>
                    <td>{{pelicula.tipo}}</td>
                    <td>{{pelicula.fechaEstreno}}</td>
                    <td>{{pelicula.cantPublico}}</td>
                    <td><img class="img-fluid" src="{{pelicula.foto}}" alt="{{pelicula.nombre}}"></td>
                    <button class="btn btn-primary btn-lg" type="button"
                        (click)="seleccionarPelicula(pelicula)">Seleccionar</button>

                </tr>
            </tbody>
        </table>

    </ng-template>

    <div class="buttons">
        <button class="blob-btn" (click)="pulsarLista()">
            {{tipo}}
            <span class="blob-btn__inner">
                <span class="blob-btn__blobs">
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                </span>
            </span>
        </button>
        <br />
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                        result="goo">
                    </feColorMatrix>
                    <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                </filter>
            </defs>
        </svg>
    </div>
</div>